.eg-cart-drawer{
    display: flex;
    position: fixed;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.eg-cart-drawer.open{
    left: unset;
    right: 0;
}

.eg-cart-drawer .cart-drawer{
    background: white;
    height: 100%;
    width: 500px;
    max-width: calc(80% - 40px);
    padding: 20px;
}

.eg-cart-drawer fieldset{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
}

.eg-cart-drawer .cart-drawer-overlay{
    display: block;
    flex:1;
    width: auto;
    height: 100%;
    background: rgba(0,0,0,0.2);
}

.cart-drawer-close{
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    width: 30px;
    height: 30px;
}

.cart-drawer-header{
    margin-bottom: 40px;
}

.cart-drawer-header h2{
    margin: 0;
}

.cart-drawer-item{
    position: relative;
    display: flex;
    margin-bottom: 40px;
}

.cart-drawer-item-image{
    width: 100px;
    height: auto;
}

.quantity-container{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100px;
}

.quantity-container button{
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    background: white;
    padding: 5px;
    margin: 0;
    border: 1px solid black;
    cursor: pointer;
}

.quantity-container button:disabled{
    cursor: not-allowed;
    opacity: 0.5;
}

.quantity-container input{
    text-align: center;
    width: 50px;
    height: 25px;
    padding: 0;
}

.quantity-container .cart-remove-button{
    position: absolute;
    top: 0;
    left: calc(100% - 60px);
    display: flex;
    width: 25px;
    height: 25px;
    background: white;
    padding: 5px;
    margin: 0;
    border: none;
}

.quantity-container .cart-remove-button svg{
    width: 25px;
    pointer-events: none;
}

.eg-cart-drawer .cart__ctas{
    justify-content: center;
}

.eg-cart-drawer .totals{
    margin-bottom: 20px;
    padding: 0 20px;
}

.eg-cart-drawer .cart-drawer-upsell-atc {
    border: none;
    background: black;
    color: white;
    padding: 15px;
    width: 100px;
    height: 50px;
    margin: 10px 20px 0;
    cursor: pointer;
}